html {
  background-color: rgb(47, 58, 58);
  position: relative;
}

p, span, label {
  color: white;
  margin-top: 5;
  margin-bottom: 5;
}

.inline {
  display: inline-block;
  margin: 5px;
  padding: 3px;
  text-align: center;
}

.inline p {
  margin: 0;
}

.timer-label {
  font-size: 32;
  text-align: center;
  margin-bottom: 8;
  margin-top: 8;
}

#timers, #active-timers, #custom, #alarm, #volume, #icons, #preset, #preset-timers {
  text-align: center;
}

img {
  cursor: pointer;
}

#customInput, #customMinute, #alarmMin, #alarmSec, #alarmTooltip, #customTooltip, #soundurl, #soundselect {
  padding: 0.4rem;
  width: 80px;
}

#alarmTooltip, #customTooltip, #soundurl, #soundselect {
  width: 200px;
}

#vol {
  margin-bottom: 15px;
}

button {
  display: inline-block;
  outline: 3;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2ea44f;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

button:hover {
  background-color: #2c974b;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

#iconsLabel, #info {
  cursor: pointer;
}

#info {
  position: absolute;
  top: -0.2rem;
  right: 0.7rem;
  font-size: 3rem;
  color: lightgray;
}

#infoPage {
  display: none;
}

.tooltiptext {
  position: fixed;
  width: 80vw;
  top: 10vh;
  left: 10vw;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
  z-index: 1;
  font-size: 2rem;
}

#preset-timers div {
  cursor: pointer;
}
