html {
  background-color: rgb(47, 58, 58);
}

p, span {
  color: white;
  margin-top: 5;
  margin-bottom: 5;
}

.inline {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.timer-label {
  font-size: 32;
  text-align: center;
  margin-bottom: 8;
  margin-top: 8;
}

#timers, #active-timers, #custom, #alarm, #volume, #icons {
  text-align: center;
}

img {
  cursor: pointer;
}

#customInput, #alarmMin, #alarmSec, #alarmTooltip, #customTooltip {
  padding: 0.4rem;
  width: 80px;
}

#alarmTooltip, #customTooltip {
  width: 200px;
}

button {
  display: inline-block;
  outline: 3;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2ea44f;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

button:hover {
  background-color: #2c974b;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

#iconsLabel {
  cursor: pointer;
}
